<style type="text/css">
ul {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

li {  
    list-style-type: none;
    float: left;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

a {  
    display: block;
    width: 100px;
    height: 50px;
    font-family: Microsoft Yahei;  
    line-height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

.shop_plus {
    display: block;
    font-size: 28px;
    margin-left: 20%;
}

.main_page {
    display: block;
    font-size: 15px;
    margin-left: 60%;
}


</style>
<ul>
    <div class="shop_plus">
        <li><a href="">店涨</a></li>
    </div>

    <div class="main_page">  
        <li><a href="/">首页</a></li>
        <li><a href="/partner">城市合伙人</a></li>
    </div>
</ul>