.apply_now_a {
	position: absolute;
	width: 14%;
	height: 5.8%;
	left: 24%;
	top:36%;
	margin: 0 auto;
	border: 1px;
	border-style: solid;
	font-size: 16px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.apply_now_b {
	position: absolute;
	width: 12%;
	height: 5.8%;
	top: 1626px;
	left: 44.8%;
	margin: 0 auto;
	border: 1px;
	border-style: solid;
	font-size: 16px;
	color: white;
	background-color: rgba(0, 0, 0, 0);
}

.float_phone_us {
	position: fixed;
	top: 45%;
	right: 5%;
	width: 5%;
}

.float_stick_up {
	position: fixed;
	top: 60%;
	right: 5%;
	width: 5%;
}