.apply_now_a {
	position: absolute;
	width: 230px;
	height: 56px;
	left: 24%;
	top:44%;
	margin: 0 auto;
}

.apply_button {
	position: absolute;
	width: 230px;
	height: 56px;
	left: 24%;
	top:44%;
	margin: 0 auto;
	background-image: url(../img/apply_now.png);
}

.apply_now_b {
	position: absolute;
	width: 230px;
	height: 56px;
	top: 2000px;
	left: 41.8%;
	margin: 0 auto;
}

.float_phone_us {
	position: fixed;
	top: 45%;
	right: 5%;
	width: 5%;
}

.float_stick_up {
	position: fixed;
	top: 60%;
	right: 5%;
	width: 5%;
}