.apply_now_a {
	position: absolute;
	width: 230px;
	height: 56px;
	left: 22%;
	top:44%;
	margin: 0 auto;
}

.apply_now_b {
	position: absolute;
	width: 230px;
	height: 56px;
	top: 2000px;
	left: 41.8%;
	margin: 0 auto;
}

.float_phone_us {
	position: fixed;
	top: 45%;
	right: 5%;
	width: 5%;
}

.float_stick_up {
	position: fixed;
	top: 60%;
	right: 5%;
	width: 5%;
}

@media (max-width: 767px) {
	.apply_now_a {
		position: absolute;
		width: 50px;
		height: 22px;
		left: 24%;
		top: 13%;
		margin: 0 auto;
	}
}