{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}店涨{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block meta %}{% endblock meta %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block css %}{% endblock css %}
</head>

<body>
    <div class="root_header_bar">
        {% include "include/header.html" %}
    </div>

    <div class="root_content">
        {% block content %}{% endblock %}
    </div>
        
    <div class="root_footer_bar">
        {% include "include/footer.html" %}
    </div>
    
    <script type="text/javascript" src="{% static 'lib/jquery.min.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>