{% extends "base.html" %} {% load staticfiles %}

{% block title %}店涨-首页{% endblock title %} 

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/page_home.css" %}">
{% endblock css %} 

{% block content %}
<div class="instruction">
	<img src="/static/img/home_img1.png">
	<img src="/static/img/home_img4.png">
	<img src="/static/img/home_img3.png">
	<img src="/static/img/home_img4.png">
	<img src="/static/img/home_img5.png">
	
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/page_home.js' %}"></script>
{% endblock js %} 