{% extends "base.html" %} {% load staticfiles %}

{% block title %}店涨-城市合伙人{% endblock title %} 

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/page_partner.css" %}">
{% endblock css %} 

{% block content %}
<div class="partner_views">
	<img src="/static/img/partner_image1.png">
	<img src="/static/img/partner_image2.png">
	<img src="/static/img/partner_image3.png">
	<img src="/static/img/partner_image4.png">

	<div class="apply_view" id="apply_view">
		<div class="sub_view_title">
			<p>选择店涨小程序，你就赢了第一步！</p>
		</div>

		<div class="apply_name">
			<input type="text" class="name_input" placeholder="申请人姓名">
		</div>

		<div class="apply_phone">
			<input type="text" class="phone_input" placeholder="申请人手机号">
		</div>

		<div class="join_now">
			<img src="../static/img/partner_join.png" onclick="apply_action()">
		</div>
	</div>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/page_partner.js' %}"></script>
{% endblock js %} 