{% extends "base.html" %} {% load staticfiles %}

{% block title %}店涨-城市合伙人{% endblock title %} 

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/page_partner.css" %}">
{% endblock css %} 

{% block content %}
<div class="partner_views">
	<div class="partner_view_a">
		<img src="/static/img/partner_img1.png">
	</div>
	
	<img src="/static/img/partner_img2.png">

	<div class="second_part">
		<!-- TODO -->
	</div>

	<div class="third_part">
		<!-- TODO -->
	</div>

	<div class="forth_part">
		<!-- TODO -->
	</div>

	<div class="float_phone_us">
		<img src="/static/img/phone_us.png" onclick="">		
	</div>

	<div class="float_stick_up">
		<img src="/static/img/stick_up.png" onclick="">
	</div>
</div>

{% endblock content %}

{% block js %}
<script type="text/javascript" src="{% static 'js/page_home.js' %}"></script>
{% endblock js %} 